# Object files
*.o
*.d

# Linker files
*.map
*.err

# Executable files
*.bin
*.exe

# Log files
*.log

# debug files
*.bxrc
bx_enh_dbg.ini

# package files
*.tar*

# Custom
tools/gcc-*
tools/binutils-*
build
os/*/obj
.vscode
